<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
</head>
<body>
  <div th:fragment="addHomeTeams">
    <label id="homeTeamLabel" for="homeTeam" class="sr-only">Home Team</label> <select id="homeTeam"
      class="form-control" onchange='homeTeamChanged(this)'>
      <option th:disabled="disabled" th:selected="selected" value=" ">-- select home team --</option>
      <option th:each="team: ${homeTeams}" th:value="${team.id}" th:text="${team.name}">(home team)</option>
    </select>
  </div>

  <div th:fragment="addAwayTeams">
    <label id="awayTeamLabel" for="awayTeam" class="sr-only">Away Team</label> <select id="awayTeam"
      class="form-control" onchange='awayTeamChanged(this)'>
      <option th:disabled="disabled" th:selected="selected" value=" ">-- select away team --</option>
      <option th:each="team: ${awayTeams}" th:value="${team.id}" th:text="${team.name}">(away team)</option>
    </select>
  </div>
  
  <div th:fragment="scoreGame">
  	<div id="readyForGame">
  		<h4>Waiting to start game:<br /><span th:text="${game}">(game)</span></h4>  
  		<div id="startGameButton"><button th:attr="data-game-id=${game.id}" id="startGame" class="btn btn-default" type="button">Start Game</button></div>
  	</div>
  	<div id="gameOn" class="hidden">
      <h2 id="currentScore" th:utext="${game.currentScore}"></h2>
  		<h4 th:text="@{${game.division.name} + ' on ' + ${game.field.fieldName}}"></h4>  
  		<p>Point Scored by: 
   			<button id="homeTeamScored" th:attr="data-game-id=${game.id},data-team-id=${game.homeTeam.id}" th:text="${game.homeTeam.name}">(homeTeam)</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
  			<button id="awayTeamScored" th:attr="data-game-id=${game.id},data-team-id=${game.awayTeam.id}" th:text="${game.awayTeam.name}">(awayTeam)</button>	
      </p>
  	</div>
  </div>
</body>
</html>