<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragments/head :: navbar">(navbar)</div>
		<div class="row">
			<div class="col-xs-8">
      <!-- TODO: Change for site -->
<!-- 				<a -->
<!-- 					href="http://cuc.canadianultimate.com/2018/cuc-brampton/junior-divisions/schedule-and-results/" -->
<!-- 					target="_blank">Schedule and Official Results on the Ultimate -->
<!-- 					Canada web site</a> -->
        <a
          href="http://cuc.canadianultimate.com/secure/cuc-brampton/mixed-division/schedule-and-results/"
          target="_blank">Schedule and Official Results on the Ultimate
          Canada web site</a>
			</div>
			<div class="co-xs-4">
				<div id="clockbox"></div>
			</div>
		</div>
		<div id="scores"></div>
	</div>
	<script src="/js/currentScores.js"></script>
	<script src="/js/clock.js"></script>
</body>
</html>