<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragments/head :: navbar">(navbar)</div>
		<div class="small-box col-sm-6 col-sm-offset-3">
			<a
				href="http://cuc.canadianultimate.com/c/cuc-ottawa/junior-divisions/schedule-and-results/"
				target="_blank">Schedule and Official Results on the Ultimate Canada web site</a>
		</div>
		<div id="scores"></div>
	</div>
	<script src="/js/currentScores.js"></script>
</body>
</html>