<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
</head>
<body>
	<div class="modal fade" id="endGameModal" tabindex="-1" role="dialog"
		aria-labelledby="End Game">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Finished Game</h4>
				</div>
				<div class="modal-body">
					<div class="text-center">
						<p>Are you finished scoring this Game?</p>
						<h4 id="proposedFinalScore"></h4>
						<p> After this you will not be able change anything</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button id="endGameOk" type="button" class="btn btn-warning btn-ok"
						data-dismiss="modal">Yes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="fieldInUseModal" tabindex="-1"
		role="dialog" aria-labelledby="Field In Use">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Field in use</h4>
				</div>
				<div class="modal-body">
					<div class="text-center">That field has an active game on it.
						Are you sure that is the right field?</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button id="useFieldOk" type="button"
						class="btn btn-warning btn-ok" data-dismiss="modal">Yes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div th:replace="fragments/head :: navbar">(navbar)</div>
		<div class="row">
			<div id="baseRow">
				<div class="box col-md-6 col-md-offset-3">
					<form id="form" class="form-horizontal">
						<div id="base_form" class="form-group">
							<label id="divisionLabel" for="division" class="sr-only">Division</label>
							<select id="divisions" class="form-control"
								onchange='divisionChanged(this)'>
								<option th:disabled="disabled" th:selected="selected" value=" ">--
									select a division --</option>
								<option th:each="division: ${divisions}"
									th:value="${division.id}" th:text="${division.name}">(division)</option>
							</select> <br />
							<div id="homeTeams"></div>
							<br />
							<div id="awayTeams"></div>
							<br />
							<div id="fields" class="hidden">
								<label id="fieldLabel" for="field" class="sr-only">Field</label>
								<select id="field" class="form-control"
									onchange='fieldChanged(this)'>
									<option th:disabled="disabled" th:selected="selected" value=" ">--
										select a field --</option>
									<option th:each="field: ${fields}" th:value="${field.id}"
										th:text="${field.fieldName}">(field)</option>
								</select>
							</div>
							<br />
							<div id="scoreKeepersDiv" class="hidden">
								<label id="scoreKeeperLabel" for="scoreKeepers" class="sr-only">Score
									Keepers</label> <input type="text" class="form-control"
									id="scoreKeepers" placeholder="enter score keepers name"></input>
							</div>
							<br />
							<div id="scoreGameButton" class="hidden">
								<button class="btn btn-primary" type="submit">Score
									Game</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer id="footer"
		class="hidden navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<div class="navbar-header">
				<button id="undoButton" type="button"
					class="btn btn-warning navbar-btn">Undo</button>
				<button id="halftime" type="button"
					class="btn btn-default navbar-btn">Halftime</button>
				<button id="homeTimeOuts" type="button"
					class="btn btn-default navbar-btn">TO - HOME</button>
				<button id="awayTimeOuts" type="button"
					class="btn btn-default navbar-btn">TO - AWAY</button>
				<button id="gameEnded" type="button"
					class="btn btn-primary navbar-btn">Game Over</button>
				<button id="finishedGame" type="button"
					class="btn btn-primary navbar-btn" disabled="true">Finished Game</button>
			</div>
		</div>
	</footer>
	<script src="/js/timer.js"></script>
	<script src="/js/createGame.js"></script>
</body>
</html>