<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragments/head :: navbar">(navbar)</div>
		<div class="row">
			<div class="box col-md-6 col-md-offset-3">
				<form>
					<div class="form-group">
						<label for="field" class="sr-only">Permission</label> <select
							id="field" class="form-control" onchange='fieldChanged(this)'>
							<option th:each="field: ${fields}" th:value="${field}"
								th:text="@{'Field ' + ${field}}">(field)</option>
						</select>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function fieldChanged(selectedObject) {
			var selectedIndex = selectedObject.selectedIndex;
			var selectedValue = selectedObject.options[selectedIndex].value;
			$
					.ajax({
						type : "post",
						url : '/selectGame/?field=' + selectedValue,
						success : function(response) {					
							console.log(response);
						},
						error : function(error) {
							window
									.alert("Could not select field. Ask for help. With error: "
											+ error.responseText);
						}
					});

		}
	</script>
</body>
</html>